.App {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.App-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.App-header span {
  display: inline-block;
}

.App-header span::first-letter {
  color: blue;
  font-style: italic;
}

.App-panel {
  margin: 1rem 0;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  padding: 1rem;
}

.App-footer {
  text-align: right;
}
