.App {
  text-align: center;
}

.App-header {
  font-size: 2.5rem;
  font-weight: 500;
}

.App-header span {
  display: inline-block;
}

.App-header span::first-letter {
  color: blue;
  font-style: italic;
}
